
.center-card {
    display: flex;
    justify-content: center;
    align-items: center;
     /* Adjust the height if you want to center it vertically */
}

.card-container {
    width: 70%; /* Customize the card width as needed */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2%;
}


.card-container-signup {
    width: 50%; /* Customize the card width as needed */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2%;
}